# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\college\Github Repos\Command Line Interpreter (CLI)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
